---
title: "Scalability Verification"
metaTitle: "Scalability Verification | WP"
metaDescription: "Make sure your application scales as users grow. Explore scale up and scale out strategies while maintaining SLA obligations and efficient cost of operations"

metaTags:
  - Harvest
  - Scalability Verification
  - Winning Product Canvas
---

## What
_Make sure your application scales as users grow. Explore scale up and scale out strategies while maintaining SLA obligations and efficient cost of operations_

## Why

If right scalability strategies are not implemented during architecting the product, underlying business would not able to optimize the cost depending on the market reach and usage levels as well as hamper the revenue.
 

## How

Scalability verification needs to be done based on the performance benchmarks defined during the product architecting and verify that system can perform as expected with different loaded scenarious 

- Extract performance benchmarks defined during architecting

- Extract load testing scenarious given the market needs of the product

- Setup the performance metrics monitoring to gather data from all the deployed resources

- Execute the load testing and verify test scenarious

- Interpret the test result to see whether test scenarious are passed and cost is variable to the loading

- Verify the scaling in when loading is removed.


## References
[Scalability testing](https://blog.qatestlab.com/2016/03/25/scalability-testing-procedure/)
