---
templateKey: "model-post"
indexingField: 7-Harvest
title: "Scalability assessment"
metaTitle: ""
metaDescription: ""
subtitle: ""
date: 2019-07-25T15:04:10.000Z
featuredpost: true
featuredimage: "/img/<content-main-image>.jpeg"
description: "Make sure your application scales as users grow. Explore scale up and scale out strategies while maintaining SLA obligations and efficient cost of operations."

tags:
  - Harvest
  - Scalability verification
  - Winning Product Canvas
---

![flavor wheel](/img/<content-main-image>.jpeg)

##why(word count 200)
{paragraph}

##how(in bullet points)

- Bullet list
  - Nested bullet
    - Sub-nested bullet etc

refernces/further readings(links)

[Reference-name](http://website.com)

